DATABASE_URL=postgres://:secret@localhost:5432
JWT_SECRET=supersecret
GROQ_API_KEY=grok_key
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3-turbo
MISTRAL_API_KEY=mistral_key
MISTRAL_SUMMARY_MODEL=mistral-small-latest
